<form class="Recipe" action="/recipes" method="post"><br>
  <input type="text" name="name" value=""><br>
  <input type="text" name="description" value=""><br>
  <input type="text" name="rating" value=""><br>
  <input type="text" name="prep_time" value=""><br><br>
  <input type="submit" value="Submit">
  <% r = Recipe.new(name, description, rating, prep_time) %>
  <%# <% @book.create(r) %>
</form>
